* {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.main {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  background: url("https://media.istockphoto.com/photos/red-background-wall-picture-id533498965?b=1&k=20&m=533498965&s=170667a&w=0&h=dzUr7tzNoFCPN-c4Ux2TLtMRUCSC0_7jpEBled-aNwM=");
  align-items: center;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(2) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(2.5) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: scale(3) rotate(360deg);
    opacity: 0;
  }
}
img {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
}
